<ion-header-bar class="bar-positive">
  <h2 class="title">More info</h2>
</ion-header-bar>
<ion-view>
  <ion-content>
    <ion-list class="list-inset">
      <ion-item class="item-text-wrap"
                ng-repeat="artist in artists | filter: {name: whichArtist}">
        <img ng-src="img/{{artist.slug}}.jpg" alt="{{artist.name}} Photo">
        <h2><strong>{{artist.name}}</strong></h2>
        <h3 >{{artist.bestTrack}}</h3>
        <h4>{{artist.event}}</h4>
        <p>{{artist.bio}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

